<html ng-app>
<head>
<script src="angular.js"></script>
<script type="text/javascript">
	function PhoneListCtrl($scope) {
		$scope.phones = [ {
			"name" : "Nexus S",
			"snippet" : "Fast just got faster with Nexus S."
		}, {
			"name" : "Motorola XOOM™ with Wi-Fi",
			"snippet" : "The Next, Next Generation tablet."
		}, {
			"name" : "MOTOROLA XOOM™",
			"snippet" : "The Next, Next Generation tablet."
		} ];
		
		$scope.dd = function(){
			$scope[0].name="123";
		}
	}
</script>
</head>
<body ng-controller="PhoneListCtrl">

	<ul>
		<li ng-repeat="phone in phones" ng-click="dd()">
			{{phone.name}}
			<p>{{phone.snippet}}</p>
		</li>
	</ul>
</body>
</html>