<?xml version="1.0" encoding="UTF-8"?>
<app xmlns="http://jctrl.org/schema/urimap" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<default for=".view" path="views/" dataType="xml" viewType="html" />
	<default for=".language" dataType="xml" path="language/" />

	<bean id="en" class="language">
		<url>en/default.xml</url>
	</bean>

	<bean id="cn" class="language">
		<url>cn/default.xml</url>
	</bean>

	<bean id="home" class="view" require=".js" />
	<bean id="xsl" class="view" viewType="xsl" />

	<import resource="map.xml" />

</app>